InternHunt Bot.json
{
  "name": "InternHunt Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 16
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        -16
      ],
      "id": "bb1b2fbb-f762-468f-a570-2cc81ea7d8fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        800,
        -16
      ],
      "id": "bb3ae3f2-9e84-48d6-97a9-d4183a53abb7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "",
        "height": 672,
        "width": 1664,
        "color": "#351818"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -64
      ],
      "typeVersion": 1,
      "id": "ca1384e9-af0e-4bc1-a5a5-8608d4b46e2a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://jsearch.p.rapidapi.com/search-v2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "internship in India"
            },
            {
              "name": "date_posted",
              "value": "week"
            },
            {
              "name": "employment_types",
              "value": "INTERN"
            },
            {
              "name": "num_pages",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-rapidapi-key",
              "value": "=70e84fef37msh9212ada15922accp1eb4d1jsnd2264ce09bb8"
            },
            {
              "name": "x-rapidapi-host",
              "value": "jsearch.p.rapidapi.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -16
      ],
      "id": "81cbbdea-7c9c-44fc-9f0d-70d9c905e65f",
      "name": "JSearch - Fetch Jobs"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.5,
      "position": [
        -288,
        448
      ],
      "id": "786375a5-59bc-47f5-af04-0e41327c128c",
      "name": "Claude - Extraction Model",
      "credentials": {
        "anthropicApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Given this internship job listing, extract and return ONLY valid JSON (no markdown, no explanation) with these exact fields:\n{\n  \"company\": \"\",\n  \"role\": \"\",\n  \"pay_type\": \"\",\n  \"duration\": \"\",\n  \"location\": \"\",\n  \"apply_link\": \"\",\n  \"posted_date\": \"\"\n}\n\nRules:\n- pay_type: Write \"Paid\", \"Unpaid\", or \"Stipend - [amount]\" based on job description. If unclear, write \"Not specified\"\n- duration: Extract internship duration (e.g. \"3 months\"). If not mentioned, write \"Not specified\"\n- apply_link: Use the job_apply_link field value directly\n\nListing data:\nCompany: {{ $json.employer_name }}\nRole: {{ $json.job_title }}\nDescription: {{ $json.job_description }}\nApply Link: {{ $json.job_apply_link }}\nPosted: {{ $json.job_posted_at_datetime_utc }}\nLocation: {{ $json.job_city }}, {{ $json.job_country }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -272,
        256
      ],
      "id": "c12ae9a0-6313-4bb2-aff5-f716fc452b60",
      "name": "Extract Internship Data (AI)"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  let rawText = item.json.output || item.json.text || item.json.content;\n  \n  if (typeof rawText !== 'string') {\n    rawText = JSON.stringify(rawText);\n  }\n  \n  // Remove markdown code fences if present\n  let cleaned = rawText.replace(/```json\\s*|\\s*```/g, '').trim();\n  \n  try {\n    const parsed = JSON.parse(cleaned);\n    items.push({ json: parsed });\n  } catch (error) {\n    // Skip items that failed to parse\n    items.push({ \n      json: { \n        parse_error: true, \n        raw: rawText \n      } \n    });\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        256
      ],
      "id": "ddce8307-a681-48ed-83db-3c880320e1f5",
      "name": "Clean AI JSON Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "72d627bf-223a-4eac-9be8-e98cc630bc72",
              "leftValue": "={{ $json.parse_error }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        336,
        256
      ],
      "id": "267a63f6-5150-4b47-a4d9-ea3c8ab84d1d",
      "name": "Remove Failed Parses"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "18gsbvmXHOg58_aH_BUT2GnjGyAqSjd7sF6ZjP8iqUFQ",
          "mode": "list",
          "cachedResultName": "Auto_Intern_AI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18gsbvmXHOg58_aH_BUT2GnjGyAqSjd7sF6ZjP8iqUFQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18gsbvmXHOg58_aH_BUT2GnjGyAqSjd7sF6ZjP8iqUFQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $('Remove Failed Parses').item.json.company }}",
            "Role": "={{ $('Remove Failed Parses').item.json.role }}",
            "pay_type": "={{ $('Remove Failed Parses').item.json.pay_type }}",
            "duration": "={{ $('Remove Failed Parses').item.json.duration }}",
            "location": "={{ $('Remove Failed Parses').item.json.location }}",
            "apply_link": "={{ $('Remove Failed Parses').item.json.apply_link }}",
            "posted_date": "={{ $('Remove Failed Parses').item.json.posted_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pay_type",
              "displayName": "pay_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "apply_link",
              "displayName": "apply_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "posted_date",
              "displayName": "posted_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        256
      ],
      "id": "e5cfb3d9-551f-4995-90fe-4b8206f8cd61",
      "name": "Save & Dedup to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TohNfl4Yw1Fc57lu",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet cardsHtml = '';\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Color coding for pay type\n  let badgeColor = '#6b7280'; // grey default\n  if (data.pay_type && data.pay_type.toLowerCase().includes('paid') && !data.pay_type.toLowerCase().includes('unpaid')) {\n    badgeColor = '#10b981'; // green\n  } else if (data.pay_type && data.pay_type.toLowerCase().includes('stipend')) {\n    badgeColor = '#3b82f6'; // blue\n  } else if (data.pay_type && data.pay_type.toLowerCase().includes('unpaid')) {\n    badgeColor = '#ef4444'; // red\n  }\n\n  cardsHtml += `\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"margin-bottom:20px; border-radius:12px; box-shadow:0 4px 12px rgba(0,0,0,0.15); background:#ffffff; overflow:hidden;\">\n    <tr>\n      <td style=\"background:linear-gradient(135deg,#4f46e5,#7c3aed); padding:16px 20px;\">\n        <span style=\"color:#ffffff; font-size:18px; font-weight:bold;\">${data.role || 'N/A'}</span><br/>\n        <span style=\"color:#e0e7ff; font-size:14px;\">${data.company || 'N/A'}</span>\n      </td>\n    </tr>\n    <tr>\n      <td style=\"padding:18px 20px;\">\n        <table cellpadding=\"0\" cellspacing=\"0\" style=\"width:100%;\">\n          <tr>\n            <td style=\"padding:4px 0;\">\n              <span style=\"background:${badgeColor}; color:#fff; padding:4px 10px; border-radius:20px; font-size:12px; font-weight:bold;\">\n                ${data.pay_type || 'Not specified'}\n              </span>\n              &nbsp;&nbsp;\n              <span style=\"background:#f3f4f6; color:#374151; padding:4px 10px; border-radius:20px; font-size:12px;\">\n                ⏱ ${data.duration || 'Not specified'}\n              </span>\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding-top:10px; color:#6b7280; font-size:13px;\">\n              📍 ${data.location || 'Not specified'}\n            </td>\n          </tr>\n          <tr>\n            <td style=\"padding-top:14px;\">\n              <a href=\"${data.apply_link || '#'}\" style=\"background:#111827; color:#ffffff; text-decoration:none; padding:10px 18px; border-radius:8px; font-size:13px; font-weight:bold; display:inline-block;\">\n                Apply Now →\n              </a>\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n  </table>`;\n}\n\nconst fullHtml = `\n<div style=\"font-family:Arial,sans-serif; max-width:600px; margin:0 auto; background:#f9fafb; padding:20px;\">\n  <h2 style=\"color:#111827; text-align:center; margin-bottom:24px;\">🎯 Daily Internship Digest</h2>\n  ${cardsHtml}\n  <p style=\"text-align:center; color:#9ca3af; font-size:12px; margin-top:20px;\">Powered by your n8n Internship Radar</p>\n</div>\n`;\n\nreturn [{ json: { htmlContent: fullHtml } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        256
      ],
      "id": "0fa248d8-c681-4ee2-bf7b-261e21f6b5fa",
      "name": "Build Email HTML Cards"
    },
    {
      "parameters": {
        "sendTo": "gangadevi2931@gmail.com",
        "subject": "🎯 Daily Internship Digest",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        256
      ],
      "id": "3a374b4e-e33d-4dd0-a5b7-b9fae087560d",
      "name": "Send Digest Email",
      "webhookId": "a0508ac0-e121-44d0-9c42-d137fd9254f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "2y67RgIvO1C6feEk",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "JSearch - Fetch Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Extract Internship Data (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSearch - Fetch Jobs": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Extraction Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Internship Data (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Internship Data (AI)": {
      "main": [
        [
          {
            "node": "Clean AI JSON Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean AI JSON Response": {
      "main": [
        [
          {
            "node": "Remove Failed Parses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Failed Parses": {
      "main": [
        [
          {
            "node": "Build Email HTML Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email HTML Cards": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Digest Email": {
      "main": [
        [
          {
            "node": "Save & Dedup to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c0098562-5c73-45e6-bdc0-516aed806b79",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f721e94a360143eaa47d90c48bca5fc206648ade37624b27c38ba397dc262eb"
  },
  "nodeGroups": [],
  "id": "JIdEGrW9jlfZorfU",
  "tags": []
}